.sidebar{
    @apply w-[200px] min-h-screen py-8 px-4 flex flex-col items-center gap-24
}

ul{
    @apply w-full
}
a{
    @apply w-full flex text-white gap-4 items-center p-2 hover:bg-white rounded-xl hover:shadow-md transition-all duration-200
}